@charset "UTF-8";
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
    margin-bottom: 50px;
    color: green;
}
div#expli{
    margin-bottom: 30px;
}
button#iniciar{
    margin-right: 20px;
    background-color: green;
    padding: 13px;
    cursor: pointer;
    border-radius: 5px;
}