@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222 ;
}
i{
    font-size: 25px;
}
div#card{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(135deg, #00feba, #5b5481);
    color: #fff;
    margin: 100px auto 0; 
    /*100 = top
    auto = left/right
    0 =  bottom*/
    border-radius: 20px;
    padding: 30px 30px;
    text-align: center;
}
div#search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
div#search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
div#weather{
    display: none;
}
img#weather-img{
    width: 170px;
    margin-top: 30px;
}
div#weather h1{
    font-size: 80px;
    font-weight: 500;
}
div#weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -20px;
}
div#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-content: center;
    text-align: left;
}
.col-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
p#humidity, p#wind{
    font-weight: 600;
    margin-top: -15px;
}
p#alert{
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and(min-width: 470px) {
    div#card {
        max-width: 100vw;
        padding: 20px; 
    }
    input#search{
        width: 50vw;
    }
}
