@charset "UTF-8";

/*estilo para telas*/

*{
    margin: 1px;
    padding: 0;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
header{
    background-color: rgb(189, 186, 186);
}
header > h1{
    text-align: center;
}

menu > ul{
    list-style-type: none;
    background-color: gray;
}
menu li{
    display: inline-block;
    background-color: rgb(70, 70, 70);
    padding: 10px;
}

article{
    width: 600px;
    margin: auto;
    display: block;
}